.articles-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #000;
    font-family: "Kumar One", serif;
    margin: 5rem 0 4rem 0;
}

.article-table{
    border: 1px solid black;
    max-width: 35rem;
}

.header{
    background-color: black;
}

.btn-more-articles{
    margin: 2rem 0;
    width: 12rem;
    border: 1px solid black;
    padding: 0;
    font-size: 0.8rem;
    align-items: center;
}
.btn-more-articles:hover{
    border: 1px solid black;
}
.btn-more-articles img{
    margin: 10px;
}

.article-table-header{
    background-color: black ;
}

