/*Navbar*/

.navbar {
  background-color: #f8f9fa;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.container-navbar {
  padding: 0.7rem;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
.nav-item {
  text-align: center;
}
.nav-item:hover {
  color: black;
}
@media (max-width: 575px) {
  .navbar-brand {
    display: none;
  }
}

.nav-item:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 5px;
}
